.dashboard-container {
  /* max-width: 800px; */
  /* margin: 0 auto; */
  padding: 20px;
  height: 94.4vh;
  background-color: #2C3333;
  
}

.dashboard-heading {
  text-align: center;
  padding: 4rem 0;
}


.Dropdown-control,.Dropdown-option,.Dropdown-option.is-selected{
  color: #0e8388;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.dashboard-metrics,
.dashboard-consult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cbe4de;
  border: 1px solid #cbe4de;
  border-radius: 1rem;
  padding: 2rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.dashboard-dropdown {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.dashboard-date {
  width: 94%;
  margin-bottom: 10px;
  margin-right: 4rem;
}

.dashboard-booknow-btn {
  padding: 10px 16px;
  /* border: none; */
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  transition: 0.6s all ease;
}

.dashboard-booknow-btn:hover {
  letter-spacing: 0;
}

h3{
  padding: 1rem 0;
}

